@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wdth,wght@0,50..150,100..900;1,50..150,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --color-sgbus-green: #44D800;
    --color-dark-orange: #FF8C00;
    --color-violet: #7F00FF;
    --color-coquelicot: #FF3800;
    --color-spring-bud: #A7FC00;
    --color-veronica: #AF0DD3;
    --color-folly: #FF2B67;
    --color-canary: #FFEB00;
    --color-aquamarine: #00FFCE;
    --color-hot-magenta: #FF1DCE;
} */

@layer components {
    .anybody-logo {
        font-family: "Anybody", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-variation-settings: "wdth" 80;
    }

    .anybody-title {
        font-family: "Anybody", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings: "wdth" 80;
    }
}